<% if flash.any? %>
  <div class="text-center">
    <% flash.each do |message_type, message| %>
      <% if ["notice", "error", "alert"].include?(message_type) %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
